body {
    margin: 0;
    padding: 0;
    background-color: #c3edfc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.banner {
    background-color: #1289b8;
    border: 7px solid #1469a9;
    padding: 1px;
    text-align: center;
    font-size: 15px;
    color: #f5f2f2eb;
    font-family: Arial, Helvetica, sans-serif;
}

.img-container {
    padding: 15px;
    text-align: center;
}

.horizontal-list {   
    list-style: none;
    display: flex;
    justify-content: center;
}

.horizontal-list li {
    margin-right: 40px;
}